<% include ../partials/header %>

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
      </p>
      <p>
        <form action="/campgrounds" method="GET" class="form-inline">
          <div class="form-group">
            <input type="text" name="search" placeholder="Search for a campground..." class="form-control">
            <input type="submit" value="Search" class="btn btn-default">
          </div>
        </form>
      </p>
    </div>
  </header>

  <div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
      <div class="col-lg-3 col-md-4 col-sm-6  mb-4">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top show-page" src="<%= campground.image %>" alt="<%= campground.name %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= campground.name %>
              </h5>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
  </div>

  <% include ../partials/footer %>